#Wnav
{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(102,51,51,1) 57%);
    padding-bottom: 10px;
  
   
   
}

#bigC{
    border-color: 2px,blue;

}

.PressBox {
    border-color: 2px,blue;

}


.card-body
{
   border-color: 2px, blue;
}



body 
{ 
    background-image: url("../img/grape-BW-background-T.png"); 
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center 200px;
    background-color: whitesmoke;
    
}



